<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.2/dist/tailwind.min.css" rel="stylesheet">
  <style>
    /* ヘッダーの高さを除外したサイドバーの高さを設定 */
    .sidebar {
      height: calc(100vh - 64px); /* 64px はヘッダーの高さ */
    }
  </style>
</head>
<body>

<header class="bg-slate-100 border-b h-16"> <!-- ここでヘッダーの高さを固定 -->
  <div class="flex justify-between container mx-auto py-2">
    <h1>
      <a href="#" class="flex">
        <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#334155">
          <path d="M180-80q-24 0-42-18t-18-42v-620q0-24 18-42t42-18h65v-60h65v60h340v-60h65v60h65q24 0 42 18t18 42v260h-60v-70H180v430h320v60H180Zm0-550h600v-130H180v130Zm0 0v-130 130ZM560-80v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T902.09-300L683-80H560Zm300-263-37-37 37 37ZM620-140h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z"/>
        </svg>
        <span class="flex items-center text-slate-700 text-xl  font-bold ml-1">Care Shift</span>
      </a> 
    </h1>
  </div>
</header>

<div class="flex">
  <!-- サイドバー -->
  <aside class="sidebar w-60 bg-slate-100 shadow-lg text-slate-600 flex-shrink-0 flex flex-col justify-between">
    <div class="p-4">
      <nav>
        <ul>
          <li class="flex items-center mb-2 py-2 px-2 rounded hover:bg-gray-300">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#404040">
              <path d="M480-504.62q-49.5 0-84.75-35.25T360-624.62q0-49.5 35.25-84.75T480-744.62q49.5 0 84.75 35.25T600-624.62q0 49.5-35.25 84.75T480-504.62ZM200-215.38v-65.85q0-24.77 14.42-46.35 14.43-21.57 38.81-33.5 56.62-27.15 113.31-40.73 56.69-13.57 113.46-13.57 56.77 0 113.46 13.57 56.69 13.58 113.31 40.73 24.38 11.93 38.81 33.5Q760-306 760-281.23v65.85H200Zm40-40h480v-25.85q0-13.31-8.58-25-8.57-11.69-23.73-19.77-49.38-23.92-101.83-36.65-52.45-12.73-105.86-12.73t-105.86 12.73Q321.69-349.92 272.31-326q-15.16 8.08-23.73 19.77-8.58 11.69-8.58 25v25.85Zm240-289.24q33 0 56.5-23.5t23.5-56.5q0-33-23.5-56.5t-56.5-23.5q-33 0-56.5 23.5t-23.5 56.5q0 33 23.5 56.5t56.5 23.5Zm0-80Zm0 369.24Z"/>
            </svg>
            <a href="#" class="ml-2">スタッフ管理</a>
          </li>
          <li class="flex items-center mb-2 py-2 px-2 rounded hover:bg-gray-300">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#404040">
              <path d="M438-255.23 323.69-369.54l28.77-28.77L438-312.77l169.54-169.54 28.77 28.77L438-255.23ZM224.62-120q-27.62 0-46.12-18.5Q160-157 160-184.62v-510.76q0-27.62 18.5-46.12Q197-760 224.62-760h70.76v-89.23h43.08V-760h286.16v-89.23h40V-760h70.76q27.62 0 46.12 18.5Q800-723 800-695.38v510.76q0 27.62-18.5 46.12Q763-120 735.38-120H224.62Zm0-40h510.76q9.24 0 16.93-7.69 7.69-7.69 7.69-16.93v-350.76H200v350.76q0 9.24 7.69 16.93 7.69 7.69 16.93 7.69ZM200-575.39h560v-119.99q0-9.24-7.69-16.93-7.69-7.69-16.93-7.69H224.62q-9.24 0-16.93 7.69-7.69 7.69-7.69 16.93v119.99Zm0 0V-720-575.39Z"/>
            </svg>
            <a href="#" class="ml-2">シフト管理</a>
          </li>
        </ul>
      </nav>
    </div>
    
    <!-- 下部に配置するメニュー -->
    <div class="p-4">
      <nav>
        <ul>
          <li class="flex items-center mb-2 py-2 px-2 rounded hover:bg-gray-300">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#404040" stroke="#404040" stroke-width="0.1">
              <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/>
            </svg>
            <a href="#" class="ml-2">ログアウト</a>
          </li>
          <div class="border-t pb-2 border-gray border-opacity-30"></div>
          <li class="flex items-center mb-2 py-2 px-2 rounded hover:bg-gray-300">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#404040">
              <path d="M555.38-576.31v-37.23q32.24-16.31 69.04-24.46 36.81-8.15 75.58-8.15 22.15 0 42.54 2.84 20.38 2.85 42.08 8.08v36.31q-20.93-6.7-40.81-9.27-19.89-2.58-43.81-2.58-38.77 0-75.69 8.73-36.93 8.73-68.93 25.73Zm0 218.46v-38.77q30.7-16.3 68.66-24.46 37.96-8.15 75.96-8.15 22.15 0 42.54 2.85 20.38 2.84 42.08 8.07V-382q-20.93-6.69-40.81-9.27-19.89-2.58-43.81-2.58-38.77 0-75.69 9.39-36.93 9.38-68.93 26.61Zm0-108.46v-38.77q32.24-16.3 69.04-24.46 36.81-8.15 75.58-8.15 22.15 0 42.54 2.84 20.38 2.85 42.08 8.08v36.31q-20.93-6.69-40.81-9.27-19.89-2.58-43.81-2.58-38.77 0-75.69 9.5-36.93 9.5-68.93 26.5ZM260-318.46q52.38 0 101.88 12.04 49.5 12.04 98.12 39.19v-392.46q-43.31-30.93-95.46-46.39-52.16-15.46-104.54-15.46-36 0-63.04 4.31t-60.04 16q-9.23 3.08-13.07 8.85-3.85 5.76-3.85 12.69v360.61q0 10.77 7.69 15.77t16.93 1.16q21.92-7.39 50.65-11.85 28.73-4.46 64.73-4.46Zm240 51.23q48.62-27.15 98.12-39.19 49.5-12.04 101.88-12.04 36 0 64.73 4.46 28.73 4.46 50.65 11.85 9.24 3.84 16.93-1.16 7.69-5 7.69-15.77v-360.61q0-6.93-3.85-12.31-3.84-5.38-13.07-9.23-33-11.69-60.04-16-27.04-4.31-63.04-4.31-52.38 0-104.54 15.46-52.15 15.46-95.46 46.39v392.46Zm-20 58q-48.77-33.39-104.77-51.31-56-17.92-115.23-17.92-31.23 0-61.35 5.23Q168.54-268 140-256.46q-21.77 8.69-40.88-5.23Q80-275.61 80-300.15v-386.62q0-14.85 7.81-27.54T109.69-732q35.23-15.54 73.31-22.54 38.08-7 77-7 58.77 0 114.65 16.92 55.89 16.93 105.35 49.24 49.46-32.31 105.35-49.24 55.88-16.92 114.65-16.92 38.92 0 77 7T850.31-732q14.07 5 21.88 17.69 7.81 12.69 7.81 27.54v386.62q0 24.54-20.65 37.69-20.66 13.15-43.97 4.46-27.76-10.77-56.73-15.62-28.96-4.84-58.65-4.84-59.23 0-115.23 17.92-56 17.92-104.77 51.31ZM290-499.38Z"/>
            </svg>
            <a href="#" class="ml-2">利用規約</a>
          </li>
          <li class="flex items-center mb-2 py-2 px-2 rounded hover:bg-gray-300">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#404040">
              <path d="M481.12-270.77q13.26 0 22.38-9.16t9.12-22.42q0-13.27-9.16-22.38-9.16-9.12-22.43-9.12-13.26 0-22.38 9.16-9.11 9.16-9.11 22.43 0 13.26 9.16 22.38 9.16 9.11 22.42 9.11Zm-20.66-132.46h38.62q1.54-26.08 9.8-42.39 8.27-16.3 34.04-41.61 26.77-26.77 39.85-47.96 13.08-21.19 13.08-49.06 0-47.29-33.23-75.37-33.23-28.07-78.62-28.07-43.15 0-73.27 23.46-30.11 23.46-44.11 53.92l36.76 15.23q9.62-21.84 27.5-38.61 17.89-16.77 51.58-16.77 38.92 0 56.85 21.34 17.92 21.35 17.92 46.97 0 20.77-11.23 37.11-11.23 16.35-29.23 32.89-34.77 32.07-45.54 54.38-10.77 22.31-10.77 54.54ZM480.13-120q-74.67 0-140.41-28.34-65.73-28.34-114.36-76.92-48.63-48.58-76.99-114.26Q120-405.19 120-479.87q0-74.67 28.34-140.41 28.34-65.73 76.92-114.36 48.58-48.63 114.26-76.99Q405.19-840 479.87-840q74.67 0 140.41 28.34 65.73 28.34 114.36 76.92 48.63 48.58 76.99 114.26Q840-554.81 840-480.13q0 74.67-28.34 140.41-28.34 65.73-76.92 114.36-48.58 48.63-114.26 76.99Q554.81-120 480.13-120Zm-.13-40q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/>
            </svg>
            <a href="#" class="ml-2">お問い合わせ</a>
          </li>
          <li class="flex items-center mb-2 py-2 px-2 rounded hover:bg-gray-300">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#404040">
              <path d="M480-303.08q10.46 0 17.54-7.07 7.08-7.08 7.08-17.54 0-10.46-7.08-17.54-7.08-7.08-17.54-7.08-10.46 0-17.54 7.08-7.08 7.08-7.08 17.54 0 10.46 7.08 17.54 7.08 7.07 17.54 7.07Zm-20-118.46h40v-243.08h-40v243.08ZM346.92-160 160-346.56v-266.52L346.56-800h266.52L800-613.44v266.52L613.44-160H346.92ZM364-200h232l164-164v-232L596-760H364L200-596v232l164 164Zm116-280Z"/>
            </svg>
            <a href="#" class="ml-2">プライバシーポリシー</a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>

  <!-- メインコンテンツ -->
  <main class="flex-1 p-4 bg-slate-50">
    <div class="flex justify-between items-center">
      <h2 class="text-2xl">スタッフ表</h2>
      <button class="border py-1 px-7 rounded font-bold text-sm text-gray-500 hover:bg-sky-400 hover:border-sky-400 hover:text-white duration-300 transition active:scale-95">スタッフ追加</button>
    </div>
    <table class="table table-fixed border-separate border-spacing-0 container mx-auto bg-white mt-4">
      <thead>
        <tr class="sticky top-0 z-10 bg-white">
          <th class="border border-b-4 border-gray-200 text-center text-gray-700 text-base py-3">名前</th>
          <th class="border border-b-4 border-gray-200 text-center text-gray-700 text-base py-3">雇用形態</th>
          <th class="border border-b-4 border-gray-200 text-center text-gray-700 text-base py-3">勤務可能シフト</th>
          <th class="border border-b-4 border-gray-200 text-center text-gray-700 text-base py-3"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center border">test</td>
          <td class="text-center border">test</td>
          <td class="border flex justify-center py-3">
            <div class="flex space-x-1 items-center">
              <p class="bg-sky-400 text-white text-sm p-1 rounded-md">早番</p>
              <p class="bg-green-500 text-white text-sm p-1 rounded-md">日勤</p>
              <p class="bg-stone-500 text-white text-sm p-1 rounded-md">遅番</p>
              <p class="bg-gray-800 text-white text-sm p-1 rounded-md">夜勤</p>
            </div>
          </td>
          <td class="text-center border">
            <div class="flex justify-center items-center space-x-4">
              <a href="#" class="flex justify-center items-center space-x-1">
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#13b5ea">
                  <path d="M186.67-120q-27 0-46.84-19.83Q120-159.67 120-186.67v-586.66q0-27 19.83-46.84Q159.67-840 186.67-840h389L509-773.33H186.67v586.66h586.66v-324.66L840-578v391.33q0 27-19.83 46.84Q800.33-120 773.33-120H186.67ZM480-480ZM360-360v-170l377-377q10-10 22.33-14.67 12.34-4.66 24.67-4.66 12.67 0 25.04 5 12.38 5 22.63 15l74 75q9.4 9.97 14.53 22.02 5.13 12.05 5.13 24.51 0 12.47-4.83 24.97-4.83 12.5-14.83 22.5L530-360H360Zm499-424.67-74.67-74.66L859-784.67Zm-432.33 358H502l246-246L710-710l-38.33-37.33-245 244.33v76.33ZM710-710l-38.33-37.33L710-710l38 37.33L710-710Z"/>
                </svg>
                <span class="text-sky-400">編集</span>
              </a>
              <a href="#" class="flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#FF6969">
                  <path d="M261-120q-24.75 0-42.37-17.63Q201-155.25 201-180v-570h-41v-60h188v-30h264v30h188v60h-41v570q0 24-18 42t-42 18H261Zm438-630H261v570h438v-570ZM367-266h60v-399h-60v399Zm166 0h60v-399h-60v399ZM261-750v570-570Z"/>
                </svg>
                <span class="text-red-400">削除</span>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
</div>

</body>
</html>
